@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";
@use "sass:math";


$filterInvert: invert(0%);
$fontSize: 1.4rem;

#nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(20,20,20,0.2);
    z-index: 1;
    background-color: $backgroundcolor-bright;

    @media (max-width: 660px) {
        display: none;
    }
}


#nav__title {
    width: 103px;
    height: 29px;
    background-image: url(../src/img/svg/instagram_letters.svg);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2.2rem;
    filter: $filterInvert;

    &-small {
        background-image: url(../src/img/svg/instagram.svg); 
    }
}


.nav__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;

    @media (max-width: 1150px) {
        height: 100%;
    }
}



.nav__options {
    @include fontWithEllipsis;
    line-height: 2rem;
    font-weight: 400;
    font-size: $fontSize;
    cursor: pointer;

    & a {
        text-decoration: none;
        color: $color-bright;
    }

}


.nav__more {
    display: inline-block;

    @media (max-width: 660px) {
        display: none;
    }

    @media (max-height: 660px) {
        display: none;
    }
}


.nav__options-containers {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1.2rem;
    border-radius: 1rem;
    transition: background-color 0.25s ease-in-out;

    &:hover {
        transition: background-color 0.25s ease-in-out;
        background-color: rgba(0,0,0,0.05);
    }

    @media (max-width: 440px) {
        margin: 0.5rem;
        padding: 0.5rem;
    }

}


.nav__options-containers-paddingL {
    padding-left: 1rem;
}



.nav__options-link {
    display: flex;
    align-items: center;
}



@mixin svg-container {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    filter: $filterInvert;
    transform: scale(1);
    transition: transform 0.25s ease-in-out;

    .nav__options-containers:hover & {
        transition: transform 0.25s ease-in-out;
        transform: scale(1.1);
    }

  }


#nav__options-start {
    @include svg-container();
    background-image: url(../src/img/svg/icon_house.svg);
}

#nav__options-search {
    @include svg-container();
    background-image: url(../src/img/svg/suche.svg);
}


#nav__options-explore {
    @include svg-container();
    background-image: url(../src/img/svg/entdecken.svg);
}

#nav__options-reels {
    @include svg-container();
    background-image: url(../src/img/svg/reels.svg);
}

#nav__options-direct {
    @include svg-container();
    background-image: url(../src/img/svg/direct.svg);
}

#nav__options-notification {
    @include svg-container();
    background-image: url(../src/img/svg/benachrichtigungen.svg);
}

#nav__options-createNew {
    @include svg-container();
    background-image: url(../src/img/svg/neuer_beitrag.svg);
}


#nav__options-threads {
    @include svg-container();
    background-image: url(../src/img/svg/threads.svg);
}

#nav__options-more {
    @include svg-container();
    background-image: url(../src/img/svg/burger.svg);    
}

.nav-fontSize {
    font-size: $fontSize;
}



#nav__horizontal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(20,20,20,0.2);
    z-index: 1;
    background-color: $backgroundcolor-bright;

    @media (max-width: 660px) {
        display: inline-block;
    }
}


.nav__horizontal__container {
    display: flex;
    justify-content: center;
}

.nav__horizontal__options {
    @include fontWithEllipsis;
    line-height: 2rem;
    font-weight: 400;
    font-size: $fontSize;
    cursor: pointer;
    display: flex;
    justify-content: center;

    & a {
        text-decoration: none;
        color: $color-bright;
    }
}


.nav__horizontal__options-containers-paddingL {
    padding-left: 1rem;
}