@use "./variables" as *;


// Mixin itself
// clearfix bootstrap  https://getbootstrap.com/docs/4.0/utilities/clearfix/
@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }


@mixin make-container() {
  max-width: 75rem;
  margin: 0px auto;
  padding: 0 2rem;

  @include clearfix;  // wichtig, falls im Container ein Element mit Float ist!

  @media (max-width: $breakpoint-xs) {
      padding: 0 2rem;
  }
}



@mixin fontWithEllipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}