@use "sass:color";
@use 'sass:math';

$color-bright: rgba(0,0,0,1)!default;
$color-secondary-bright: rgb(115,115,115)!default;
$backgroundcolor-bright: rgba(255,255,255,1)!default;

$color-dark: rgba(255,255,255,1)!default;
$backgroundcolor-dark: rgba(0,0,0,1)!default;


// 1200px oder schmaler 
$breakpoint-lg: 120em!default;

// 990px oder schmaler 
$breakpoint-md: 99em!default;

// 770px oder schmaler 
$breakpoint-sm: 77em!default;

// 580px oder schmaler 
$breakpoint-xs: 58em!default;

// 450px oder schmaler 
$breakpoint-xxs: 45em!default;

// Breakpoints 
@media (max-width: $breakpoint-lg) {}
@media (max-width: $breakpoint-md) {}
@media (max-width: $breakpoint-sm) {}
@media (max-width: $breakpoint-xs) {}
@media (max-width: $breakpoint-xxs) {}